node_modules/*
platforms/ios/movie/app/*
!platforms/ios/movie/app/weexplus.json
platforms/android/movie/app/src/main/assets/app/*
!platforms/android/movie/app/src/main/assets/app/weexplus.json
platforms/ios/movie/Pods
platforms/ios/movie/products/
platforms/ios/movie/jpush/
platforms/ios/movie/oss/
platforms/ios/movie/wechat/
platforms/ios/movie/alipay/
platforms/ios/movie/NetEaseIM/
platforms/android/UIKit/
platforms/android/netIm/
platforms/android/oss/
platforms/android/wechat/
platforms/android/jpush/
.svn
*.DS_Store
.idea
build
temp
dist/*
*.iml
release
.gradle
/build